# Google Gemini API Key
GOOGLE_API_KEY=AIzaSyCVcNv0w-5XyF-hRNEqWYlwb-qMgh3zdmc

# Email Credentials (for OTP)
EMAIL_ADDRESS=nishasinha720@gmail.com
EMAIL_PASSWORD=vmtz obdx ctnp wmir

# Google reCAPTCHA Secret Key
RECAPTCHA_SECRET_KEY=6LftQvIrAAAAAHadujBXAYQw44pYG3OMPUbbjxYo

# News API Keys
NEWS_API_KEY=5748e6e82fdb46d692ace8a8694009e3
GNEWS_API_KEY=77bb607aae8e3541e629b2192a94b13f
AUDIO_SERVICE_URL=https://veritas-misinfodetection-3.onrender.com
IMAGE_SERVICE_URL=https://veritas-image-detection-2.onrender.com
MEDIASTACK_API_KEY=
# Open .env.example and fix line 17
# Change any real key to placeholder like:
HUGGINGFACE_TOKEN=your_token_here


# TensorFlow Service URL
TF_SERVICE_URL=http://127.0.0.1:5001/predict/audio

PORT=5000
